<MudTimelineItem Color="Color.Primary" Size="Size.Large" onclick="@(() => OnClickAction(Entry))">
    <ItemDot>
        <MudIcon Icon="@Icons.Material.Filled.Train"></MudIcon>
    </ItemDot>
    <ItemOpposite>
        <div>@Entry.Name</div>
    </ItemOpposite>
    <ItemContent>
        @if (@Entry.Stop)
        {
            <MudText Color="Color.Tertiary">Anhalten</MudText>       
        } else if (@Entry.StopSpecial)
        {
            <MudText Color="Color.Error">Ausserplanmässig Anhalten</MudText>      
        }
    </ItemContent>
</MudTimelineItem>

@code {
    [Parameter]
    public BahnhofEntry Entry { get; set; } = null!;

    [Parameter]
    public Action<BahnhofEntry> OnClickAction { get; set; } = null!;
}